

.matches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 28px;
    margin-top: 30px;
}

.stadiums-row {
    width: 25rem;
    display: inline;
    margin-bottom: inherit;
}


.pager {
    display: inline-flex;
    width: 98%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.flex {
    display: flex
}