<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>

<div *ngIf="isManeger()" style="margin-left: 89.6%;margin-bottom: 1%;">  <a  routerLink='/stadium/{{stadiumId}}/matches/create' [queryParams]="{'editMode':false,'stadiumName':stadiumName}" class="btn btn-primary" >Create Match</a></div>

<div *ngIf="message.length > 0 " [ngClass]=" isError ? 'alert-danger' : 'alert-success'" class="alert alert-dismissible fade show">
  <strong>{{isError ? 'Error' : 'Success'}}</strong> {{message}}..
  <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="message = '';isError=!isError"></button>
</div>


<div  class="matches background-color">
<div class="card stadiums-row" *ngFor="let item of matches;let i=index" >
    <img class="card-img-top" height="250px" [src]="item.imageUrl" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{item.gameTitle}}</h5>
      <p class="card-text">ID: {{item.homeTeam}} vs {{item.awayTeam}} @ {{item.stadiumName}}</p>
      <p class="card-text">Starts at {{item.startTime}}</p>
      <button *ngIf="isManeger()" class="btn btn-primary" style="margin-right: 68%;" ><a  role="button" routerLink='/stadium/{{stadiumId}}/matches/{{item.id}}' [queryParams]="{editMode:true,stadiumName:item.stadiumName}" >Edit</a></button>
      <button class="btn btn-primary" ><a  role="button" routerLink='/bookings/book/match/{{stadiumId}}/tickets' [queryParams]="{stadiumName:item.stadiumName,scehduleId:item.id,gameTitle:item.gameTitle, image:item.imageUrl}" >Book </a> </button>
    
    </div>
  </div>

  <ul class="pager">
    <li class="previous flex"><button class="btn btn-dark" role="button" (click)="gotoPrevious($event)" [disabled]="pagination.currentPage <= 1">Previous</button></li>
    <li class="next flex"><button  class="btn btn-dark" role="button" (click)="gotoNext($event)" [disabled]="pagination.currentPage >= totalPages">Next</button></li>
  </ul>
  </div>
  <button role="button" class="btn btn-primary" style="margin-top: -4%;" (click)="goBack()">Back</button>