.loading-spinner {
    position: fixed; /* Center the spinner */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Ensure spinner is above other content */
    /* Add background color for the overlay: */
    background-color: rgba(0, 0, 0, 0.3); /* Customize opacity */
    display: flex; /* Center the spinner within the container */
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 60px;
    height: 60px;
    border: 4px solid #f3f3f3; /* Customize border color */
    border-radius: 50%;
    border-top-color: #3f51b5; /* Customize animation color */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }